[submodule "curl"]
	path = curl
	url = git://github.com/karelia/curl.git
[submodule "c-ares"]
	path = c-ares
	url = git://github.com/bagder/c-ares.git
[submodule "SFTP"]
	path = SFTP
	url = https://github.com/karelia/libssh2_sftp-Cocoa-wrapper.git
[submodule "CURLHandleSource/Tests/MockServer"]
	path = CURLHandleSource/Tests/MockServer
	url = git@github.com:karelia/MockServer.git
